flows_node-red.json
[
    {
        "id": "b3a91f141a4e92dc",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acc0c574d8db673a",
        "type": "mqtt in",
        "z": "b3a91f141a4e92dc",
        "name": "",
        "topic": "seat1/motion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2542744955549e82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "19a7fe98d1c2fe3e",
                "e664351d8c55a96d"
            ]
        ]
    },
    {
        "id": "19a7fe98d1c2fe3e",
        "type": "debug",
        "z": "b3a91f141a4e92dc",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "d6123f34011842f4",
        "type": "mqtt in",
        "z": "b3a91f141a4e92dc",
        "name": "",
        "topic": "seat1/ac",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2542744955549e82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "54fb8def0fee4b27",
                "a2e493b0e0062df6"
            ]
        ]
    },
    {
        "id": "e664351d8c55a96d",
        "type": "ui_text",
        "z": "b3a91f141a4e92dc",
        "group": "eeb5fdd66a7938e1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Motion seat 1",
        "label": "Motion seat 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "54fb8def0fee4b27",
        "type": "ui_text",
        "z": "b3a91f141a4e92dc",
        "group": "eeb5fdd66a7938e1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "AC seat 1",
        "label": "AC seat 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "a2e493b0e0062df6",
        "type": "debug",
        "z": "b3a91f141a4e92dc",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "fc91c89bbbaa6fee",
        "type": "mqtt in",
        "z": "b3a91f141a4e92dc",
        "name": "",
        "topic": "seat2/motion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2542744955549e82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "1b39cc50d8f0132b",
                "aadfb49fc4adc97e"
            ]
        ]
    },
    {
        "id": "1b39cc50d8f0132b",
        "type": "debug",
        "z": "b3a91f141a4e92dc",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "ea880dcb03872124",
        "type": "mqtt in",
        "z": "b3a91f141a4e92dc",
        "name": "",
        "topic": "seat2/ac",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2542744955549e82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "75ed8546bfe10922",
                "c4c587a30c04842b"
            ]
        ]
    },
    {
        "id": "aadfb49fc4adc97e",
        "type": "ui_text",
        "z": "b3a91f141a4e92dc",
        "group": "eeb5fdd66a7938e1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Motion seat 2",
        "label": "Motion seat 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "75ed8546bfe10922",
        "type": "ui_text",
        "z": "b3a91f141a4e92dc",
        "group": "eeb5fdd66a7938e1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "AC seat 2",
        "label": "AC seat 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "c4c587a30c04842b",
        "type": "debug",
        "z": "b3a91f141a4e92dc",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "ec17f46c55b5c1d1",
        "type": "mqtt in",
        "z": "b3a91f141a4e92dc",
        "name": "",
        "topic": "seat/occupancyCount",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2542744955549e82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "d1d88d93ea8df527",
                "e4820cd8f7367b7f"
            ]
        ]
    },
    {
        "id": "d1d88d93ea8df527",
        "type": "debug",
        "z": "b3a91f141a4e92dc",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "e4820cd8f7367b7f",
        "type": "ui_text",
        "z": "b3a91f141a4e92dc",
        "group": "bbc6efb04604c031",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Bus Occupancy count",
        "label": "Bus Occupancy count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "2542744955549e82",
        "type": "mqtt-broker",
        "name": "EMQX MQTT Sub",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eeb5fdd66a7938e1",
        "type": "ui_group",
        "name": "Motion and AC",
        "tab": "db9c71e23d4917c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbc6efb04604c031",
        "type": "ui_group",
        "name": "Seat OccupancyCount",
        "tab": "991f4a7a0ba54305",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db9c71e23d4917c3",
        "type": "ui_tab",
        "name": "Driver",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "991f4a7a0ba54305",
        "type": "ui_tab",
        "name": "Management",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]